# Gradle build files
build/
.gradle/
buildSrc/
gradle.properties
gradlew.bat
gradle

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Kotlin files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Miscellaneous
.DS_Store
Thumbs.db
.env
